/*BoxMode CSS*/

* {
	/*Zero all the margins and padding of our elements. Because by default, elements are being added margins and paddings by browser

	box-sizing: border-box; -  to accurately measure out elements, that padding and border are npt added as the top of the element's width
	*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sample {
	height: 150px;
	width: 150px;
	border: 2px solid blue;
	background-color: green;
}

#box1 {
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid black;
	background-color: orange;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;

	/*without box sizing: border box
		the exact width:

		border and padding are added on the top of the width

		2px left border + 50px left padding + 150 width + 50px right padding + 2px right border = 254px

	with box-sizing: border box;
		the exact width of our element:

		border and the padding are included in the total width

		2px left border + 50px left padding + 46px content + 50px right padding + 2px right border = 

		padding - space within an element
		margin - space outside of the element or outside of an element's border

		display: inline-block;
		this property is used to display an element as an inline-level block container
	*/
}

#box2 {
	height: 150px;
	width: 150px;
	padding: 50px;
	margin-right: 30px;
	border: 2px solid red;
	background-color: yellow;
	display: inline-block;
	vertical-align: top;

}

/*Class Selector*/


/*id selector*/


/*Combinators*/


/*media query*/