/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*Nav Bar*/
nav {
	padding: 0.8;
	/*margin-bottom: 2rem;*/
	border-bottom: 1px solid gray;
	background-color: #90E0EF;
}

nav > ul {
	list-style-type: none;
	text-align: center;
	vertical-align: center;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}
/*End of Nav Bar*/

/*Intro Section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	/*background-color: #0077B6;*/
	background-image: url("https://as1.ftcdn.net/v2/jpg/02/90/89/76/1000_F_290897614_7RdAsk2GmumcGWZ2qklmV74hKlNmznSx.jpg");
	background-color: #cccccc

}

#intro h2, #intro p {
	margin-bottom: 1rem;
	color: white;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #0077B6;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*End of Intro Section*/

/* Product Information Section*/
#product-info {
	background-color: #00B4D8;
	background-image: url("https://media.istockphoto.com/photos/abstract-ocean-and-land-landscape-picture-id1302348912");
	background-position: center;
	background-repeat: repeat;
	background-color: #cccccc
	background-size: cover;
}

#product-info h2{
	margin-bottom: 1rem;
	text-align: center;
	color: white;
}

/*#product-info h3{
	margin-bottom: 1rem;
	text-align: center;
}*/

#product-info p {
	padding: 10px;
}

.container1 {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.card img {
	max-width: 200px;
}

.card {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #90E0EF;
	border: 2px solid black;
	border-radius: 20px;
	padding: 10px 20px;
	min-height: 200px;
	width: 30%;
	margin: 10px 20px;
	align-self: normal;
}

.card .BuyButton {
	display: inline-block;
	margin-top: auto;
	text-align: center;
	color: white;
	font-weight: bold;
	background-color: #0077B6;
	border-radius: 25px;
	font-size: 1rem;
	padding: 10px 20px;
}
/*End of Product Information*/

/*Pre Footer*/
#pre-footer {
	background-color: #0077B6;
	color: white;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

#pre-footer .foot-card {
	margin-left: 5rem;
}

footer{
	background-color: #CAF0F8;
}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	color: black;
}